PROJECT_NAME="AI-Powered Intern Progress Management System"
API_V1_STR="/api/v1"
SECRET_KEY="your-secret-key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

DATABASE_URL=postgresql+psycopg2://postgres:admin123@localhost:5432/IMS

OPENAI_API_KEY=""
AI_MODEL="gpt-4o"
