# Environment & secrets
.env
.env.*

# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Private project documentation
IMS_Backend_Architecture_and_API_Documentation.pdf